<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Itinerary</h2>
        <p><strong>3:00pm</strong> &mdash; Spritzers in the rose garden</p>
        <p><strong>4:00pm</strong> &mdash; Here comes the bride</p>
        <p><strong>4:30pm</strong> &mdash; Cocktails, photos, confetti</p>
        <p><strong>5:30pm</strong> &mdash; Food is served</p>
        <p><strong>7:00pm</strong> &mdash; Cake, Drinks, Dancing</p>
        <p><strong>10:00pm</strong> &mdash; The night must come to an end</p>
        <h2>Details</h2>
        <p><strong>Dress to impress</strong> &mdash; Formal attire is encouraged. An open bar will be provided</p>
        <h2>Covid-19</h2>
        <p>With the uncertainty that this pandemic brings we have begun considering other options for our wedding. Our primary goal is to keep everyone healthy. As the year continues we will be sending out emails as well as updating this site with updated plans
        <p>Please continue to check back for updates going forward</p>
        <p>We hope that you are staying safe and look forward to celebrating with you in the near future</p>
        <h2>Menu</h2>
        <p>Please stay tuned
        <h2>Gifts &amp; Cards</h2>
        <p>The most important gift to us is to have you share our day, but should you wish to contribute in some other way please use the links below to view our <%= link_to 'registry', @registry_url %> or give a monetary gift for our <%= link_to 'honeymoon', @paypal_url %>.</p>
        <p class="text-center"><%= link_to 'HoneyFund', @paypal_url, class: 'btn btn-primary wedding-cta-btn' %>&nbsp;<%= link_to 'Registry', @registry_url, class: 'btn btn-primary wedding-cta-btn' %></p>

        <h2>RSVPs</h2>
        <p>Please use this site to <strong>RSVP</strong> and update your reservations as needed using your email address. If you are not able to make it, please let us know using the link below</p>
      </div>
    </div>
  </div>
</section>