<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Venue</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>How do I get there?</h2>
        <p>Coming from the north - Take I5 south to exit 297 to Terwilliger Blvd. Continue following Terwilliger for about 4 miles then take a right on to State St. In one mile turn right onto McVey Ave, which turns into Stafford Rd where you will continue for just over 2 miles. Take a left onto Johnson Rd and in a half mile you will see a sign on your left for Barn Kestrel</p>
        <p>Coming from the south - Take I5 north to exit 288 onto I-205 and then take exit 3. Follow Stafford Rd for about a mile and take a sharp right onto Johnson Rd. In a half mile you will see a sign on your left for Barn Kestrel </p>
        <p>If you need exact directions please use the maps icon above to direct you to our venue</p>
        <h2>Coming from out of town?</h2>
        <p>The couple recommends staying in a charming <%= link_to 'Airbnb', @airbnb_url %>. Please reach out to us for any recommendations</p>
      </div>
    </div>
  </div>
</section>